#ignore eclipse files and settings
.settings
.buildpath
.project
#ignore the config file
/config/standard/config.php
#ignore the VORLAGEN folder expect dbchanges.sql
/VORLAGEN
!/VORLAGEN/dbchanges.sql
#ingnore temp files
.temp
.tmp
#ignore old files
*.old
#ignore templates_c
/templates_c
#ignore files
/files
